# {{ plugin_description.name }}

{{ plugin_description.description }}

### Building and Installing the Plugin

To build the plugin and copy it to the plugins directory, run the following command in your terminal:
```sh
make install
```

This command will:
- Compile the source code.
- Create the necessary plugin bundle or shared library for your operating system.
- Copy the built plugin to the default CLAP plugins directory on your system.

### Build Requirements

- **Compiler:** Ensure you have clang installed. Alternatively, you can modify the CC variable in the Makefile to use a different compiler like gcc.
- **Make:** You'll need make installed to run the build commands.
- **CLAP SDK:** The build process assumes that the CLAP SDK is located at `../libs/clap`. Adjust the `LIBS_DIR` variable in the Makefile if it's located elsewhere.


### Running the Plugin

To run a CLAP-enabled host from the terminal and see console outputs (useful for debugging), use the following command. For example, if you're using REAPER on macOS:
```sh
/Applications/REAPER.app/Contents/MacOS/REAPER
```
Launching the host from the terminal allows you to see any printf or logging output from your plugin in the console.

### Plugin Installation Paths

- macOS: `~/Library/Audio/Plug-Ins/CLAP/`
- Linux: `~/.clap/`
- Windows: `C:\Program Files\Common Files\CLAP\`

Ensure that the install path in the Makefile (`INSTALL_PATH`) matches the correct directory for your operating system.


> This project is auotgenerated by [CLAP-plugin-template-generator](https://github.com/cyrillsemenov/CLAP-plugin-template-generator).